In [2]:
import pandas as pd
import requests

In [3]:
df = pd.read_csv("FAOSTAT.csv")
df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,4,Afghanistan,5510,Production,01371,"Almonds, in shell",2011,2011,tonnes,60611.0,A,Official figure
1,QCL,Crops and livestock products,4,Afghanistan,5510,Production,01371,"Almonds, in shell",2012,2012,tonnes,62000.0,A,Official figure
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,01371,"Almonds, in shell",2013,2013,tonnes,42215.0,A,Official figure
3,QCL,Crops and livestock products,4,Afghanistan,5510,Production,01371,"Almonds, in shell",2014,2014,tonnes,27400.0,A,Official figure
4,QCL,Crops and livestock products,4,Afghanistan,5510,Production,01371,"Almonds, in shell",2015,2015,tonnes,24246.0,A,Official figure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124849,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0111,Wheat,2020,2020,tonnes,212530.0,A,Official figure
124850,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0111,Wheat,2021,2021,tonnes,337212.0,A,Official figure
124851,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,24212.02,Wine,2011,2011,tonnes,1750.0,E,Estimated value
124852,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,24212.02,Wine,2012,2012,tonnes,1750.0,E,Estimated value
124853,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,24212.02,Wine,2013,2013,tonnes,1750.0,E,Estimated value

#### Most grown grains
Maize(corn), Rice, Wheat (capitalized because that is how the data has it mentioned)

In [58]:
df.groupby("Item").Area.count().sort_values(ascending=False).head(40)

Item
Other vegetables, fresh n.e.c.                                  2095
Tomatoes                                                        1844
Maize (corn)                                                    1836
Other fruits, n.e.c.                                            1756
Potatoes                                                        1742
Cabbages                                                        1639
Beer of barley, malted                                          1630
Onions and shallots, dry (excluding dehydrated)                 1568
Unmanufactured tobacco                                          1494
Cucumbers and gherkins                                          1484
Bananas                                                         1471
Rice                                                            1446
Carrots and turnips                                             1426
Chillies and peppers, green (Capsicum spp. and Pimenta spp.)    1392
Wheat                                                           1385
Oranges                                                         1373
Raw cane or beet sugar (centrifugal only)                       1372
Watermelons                                                     1365
Molasses                                                        1349
Other pulses n.e.c.                                             1346
Beans, dry                                                      1336
Sorghum                                                         1334
Groundnuts, excluding shelled                                   1287
Pumpkins, squash and gourds                                     1283
Lemons and limes                                                1268
Sweet potatoes                                                  1265
Other beans, green                                              1222
Soya beans                                                      1181
Barley                                                          1172
Sugar cane                                                      1158
Lettuce and chicory                                             1148
Green garlic                                                    1116
Cantaloupes and other melons                                    1095
Mangoes, guavas and mangosteens                                 1093
Seed cotton, unginned                                           1082
Peas, dry                                                       1082
Cassava, fresh                                                  1077
Cauliflowers and broccoli                                       1062
Eggplants (aubergines)                                          1044
Apples                                                          1042
Name: Area, dtype: int64

## Rice

In [5]:
df[df.Item == "Rice"]

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
374,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2011,2011,tonnes,672000.00,A,Official figure
375,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2012,2012,tonnes,500000.00,A,Official figure
376,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2013,2013,tonnes,512094.00,A,Official figure
377,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2014,2014,tonnes,537000.00,A,Official figure
378,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2015,2015,tonnes,410000.00,A,Official figure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124683,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2017,2017,tonnes,1326.90,I,Imputed value
124684,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2018,2018,tonnes,1342.47,I,Imputed value
124685,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2019,2019,tonnes,1134.00,A,Official figure
124686,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2020,2020,tonnes,750.00,E,Estimated value
124687,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2021,2021,tonnes,2908.00,A,Official figure

In [10]:
rice_df = df[df.Item == "Rice"]
rice_df = rice_df.reset_index(drop='index')
rice_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2011,2011,tonnes,672000.00,A,Official figure
1,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2012,2012,tonnes,500000.00,A,Official figure
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2013,2013,tonnes,512094.00,A,Official figure
3,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2014,2014,tonnes,537000.00,A,Official figure
4,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0113,Rice,2015,2015,tonnes,410000.00,A,Official figure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1441,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2017,2017,tonnes,1326.90,I,Imputed value
1442,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2018,2018,tonnes,1342.47,I,Imputed value
1443,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2019,2019,tonnes,1134.00,A,Official figure
1444,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2020,2020,tonnes,750.00,E,Estimated value
1445,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0113,Rice,2021,2021,tonnes,2908.00,A,Official figure

In [109]:
rice_df.query("Area == 'India' & Year == 2011")

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
615,QCL,Crops and livestock products,356,India,5510,Production,0113,Rice,2011,2011,tonnes,157900000.0,A,Official figure

### Trying to get rid of e+09 using round() or round(1)

In [117]:
rice_df.groupby('Area').Value.sum().sort_values(ascending=False).round()

Area
China, mainland       2297714288.00000
India                 1856423625.00000
Indonesia              630301063.00000
Bangladesh             581723712.00000
Viet Nam               480274968.00000
                            ...
Poland                         0.00000
Slovenia                       0.00000
Slovakia                       0.00000
Republic of Moldova            0.00000
Cyprus                         0.00000
Name: Value, Length: 144, dtype: float64

In [116]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

## Millet

In [9]:
millet_df = df[df.Item == "Millet"]
millet_df = millet_df.reset_index(drop="index")
millet_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0118,Millet,2011,2011,tonnes,15000.00,T,Unofficial figure
1,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0118,Millet,2012,2012,tonnes,15000.00,T,Unofficial figure
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0118,Millet,2013,2013,tonnes,13000.00,T,Unofficial figure
3,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0118,Millet,2014,2014,tonnes,3764.28,I,Imputed value
4,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0118,Millet,2015,2015,tonnes,6248.00,I,Imputed value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0118,Millet,2017,2017,tonnes,62157.42,A,Official figure
951,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0118,Millet,2018,2018,tonnes,38964.00,A,Official figure
952,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0118,Millet,2019,2019,tonnes,29185.00,A,Official figure
953,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0118,Millet,2020,2020,tonnes,43411.00,A,Official figure
954,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0118,Millet,2021,2021,tonnes,45193.00,A,Official figure

In [ ]:
millet_df

In [13]:
rice_df.groupby('Area').Value.describe()

,count,mean,std,min,25%,50%,75%,max
Area,,,,,,,,
Afghanistan,11.0,4.508070e+05,100144.886562,338420.0,3.695325e+05,439549.00,5.060470e+05,672000.00
Albania,11.0,0.000000e+00,0.000000,0.0,0.000000e+00,0.00,0.000000e+00,0.00
Algeria,11.0,3.109800e+02,11.741818,280.6,3.098250e+02,314.75,3.180700e+02,320.01
Angola,11.0,2.225482e+04,13857.827116,9426.0,1.030800e+04,21492.00,3.109200e+04,45322.00
Argentina,11.0,1.453332e+06,169523.161051,1189866.0,1.348154e+06,1453187.00,1.565710e+06,1748075.00
...,...,...,...,...,...,...,...,...
Uzbekistan,11.0,3.253059e+05,93027.030600,119758.0,3.040550e+05,334226.00,3.757595e+05,451981.00
Venezuela (Bolivarian Republic of),11.0,7.905058e+05,252349.917806,490583.0,5.526695e+05,788422.50,1.032068e+06,1158056.00
Viet Nam,11.0,4.366136e+07,873684.144744,42398344.0,4.293850e+07,43737598.00,4.404267e+07,45090561.89
Zambia,11.0,4.117117e+04,11930.599584,25514.0,3.210699e+04,43063.11,4.736550e+04,65875.83
Zimbabwe,11.0,1.342723e+03,551.283562,750.0,1.104000e+03,1286.49,1.334685e+03,2908.00

## Wheat

In [16]:
wheat_df = df[df.Item == "Wheat", ]
wheat_df = wheat_df.reset_index(drop="index")
wheat_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2011,2011,tonnes,3388000.0,A,Official figure
1,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2012,2012,tonnes,5050000.0,A,Official figure
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2013,2013,tonnes,5169235.0,A,Official figure
3,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2014,2014,tonnes,5370259.0,A,Official figure
4,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2015,2015,tonnes,4673040.0,A,Official figure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1380,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0111,Wheat,2017,2017,tonnes,38715.0,A,Official figure
1381,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0111,Wheat,2018,2018,tonnes,45000.0,E,Estimated value
1382,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0111,Wheat,2019,2019,tonnes,94685.0,A,Official figure
1383,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0111,Wheat,2020,2020,tonnes,212530.0,A,Official figure
1384,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0111,Wheat,2021,2021,tonnes,337212.0,A,Official figure

## Corn

In [37]:
corn_df = df[df.Item == "Maize (corn)"]
corn_df = corn_df.reset_index(drop="index")
corn_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0112,Maize (corn),2011,2011,tonnes,300120.0,A,Official figure
1,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0112,Maize (corn),2012,2012,tonnes,310000.0,A,Official figure
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0112,Maize (corn),2013,2013,tonnes,312000.0,A,Official figure
3,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0112,Maize (corn),2014,2014,tonnes,316000.0,A,Official figure
4,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0112,Maize (corn),2015,2015,tonnes,316000.0,A,Official figure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2017,2017,tonnes,1532572.0,A,Official figure
1832,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2018,2018,tonnes,1560100.0,A,Official figure
1833,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2019,2019,tonnes,773976.0,A,Official figure
1834,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2020,2020,tonnes,1202347.0,A,Official figure
1835,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2021,2021,tonnes,1469664.0,A,Official figure

## Combined 
#### (wheat, rice, millet, maize)

In [39]:
all_grains = pd.concat([wheat_df, rice_df, millet_df, corn_df], axis=0, ignore_index=True)
all_grains

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2011,2011,tonnes,3388000.0,A,Official figure
1,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2012,2012,tonnes,5050000.0,A,Official figure
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2013,2013,tonnes,5169235.0,A,Official figure
3,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2014,2014,tonnes,5370259.0,A,Official figure
4,QCL,Crops and livestock products,4,Afghanistan,5510,Production,0111,Wheat,2015,2015,tonnes,4673040.0,A,Official figure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2017,2017,tonnes,1532572.0,A,Official figure
5618,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2018,2018,tonnes,1560100.0,A,Official figure
5619,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2019,2019,tonnes,773976.0,A,Official figure
5620,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2020,2020,tonnes,1202347.0,A,Official figure
5621,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,0112,Maize (corn),2021,2021,tonnes,1469664.0,A,Official figure